@import "../../styles/colors.scss";

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
}

input[type="password"],
input[type="email"] {
    line-height: 40px;
    border: 1px solid $primaryLight;
    border-radius: 4px;
    padding: 0px 40px 0px 8px;

    &:focus {
        outline-color: $primaryLight;
    }
}

button {
    cursor: pointer;
    line-height: 40px;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: $white;

    &:hover {
        opacity: 0.9;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 400px;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px -2px $black;
        background-color: $white;

        h2 {
            color: $primaryDark;
            text-align: center;
            font-size: 20px;
        }

        .submit {
            margin-top: 32px;
        }

        .link {
            margin-top: 16px;
            text-align: center;
            text-transform: lowercase;
            color: $primary;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}