@import "../../styles/colors.scss";

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 400px;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px -2px $black;
        background-color: $white;

        h2 {
            color: $primaryDark;
            text-align: center;
            font-size: 20px;
        }

        .submit {
            margin-top: 32px;

            &:disabled {
                background-color: $disabledBackground;
                cursor: not-allowed;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .link {
            margin-top: 16px;
            text-align: center;
            text-transform: lowercase;
            color: $primary;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}